<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :dependent_education %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :dependent_education do |i| %>
					<%= render 'evaluations/dependent_variables/dependent_education_fields', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :drug %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :drug do |i| %>
					<%= render 'evaluations/dependent_variables/drug_fields', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :job %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :job do |i| %>
					<%= render 'evaluations/dependent_variables/job_fields', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :self_security %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :self_security do |i| %>
					<%= render 'evaluations/dependent_variables/self_security_fields', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :dependent_health %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :dependent_health do |i| %>
					<%= render 'evaluations/dependent_variables/dependent_health_fields', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :main_network %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :main_network do |i| %>
					<%= render 'evaluations/dependent_variables/main_network', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :basic_assistance %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :basic_assistance do |i| %>
					<%= render 'evaluations/dependent_variables/basic_assistance', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>
