<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :axis1 %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :axis1 do |i| %>
					<%= render 'evaluations/independent_variables/axis1', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :axis2 %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :axis2 do |i| %>
					<%= render 'evaluations/independent_variables/axis2', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :axis3 %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :axis3 do |i| %>
					<%= render 'evaluations/independent_variables/axis3', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :axis4 %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :axis4 do |i| %>
					<%= render 'evaluations/independent_variables/axis4', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2><%= f.label :axis5 %></h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :axis5 do |i| %>
					<%= render 'evaluations/independent_variables/axis5', f: i, is_show_view: is_show_view %>
				<% end %>
			</div>
		</div>
	</div>
</div>
