<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Atividades Assistenciais</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :assistance_activity do |i| %>
					<%= render 'evaluations/independent_variables/assistance_activity_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Albergue</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :albergue do |i| %>
					<%= render 'evaluations/independent_variables/albergue_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Saúde</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :health do |i| %>
					<%= render 'evaluations/independent_variables/health_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Educação</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :education do |i| %>
					<%= render 'evaluations/independent_variables/education_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Trabalho</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :work do |i| %>
					<%= render 'evaluations/independent_variables/work_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Participação Social</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :social_participation do |i| %>
					<%= render 'evaluations/independent_variables/social_participation_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Direcionamentos/Orientações e referências durante o processo CBT</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :guidelines_reference do |i| %>
					<%= render 'evaluations/independent_variables/guidelines_reference_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Desenvolvimento do Tratamento Comunitario</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :community_treatment do |i| %>
					<%= render 'evaluations/independent_variables/community_treatment_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Diagnóstico e Avaliação do Caso</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :diagnosis_and_case_evaluation do |i| %>
					<%= render 'evaluations/independent_variables/diagnosis_and_case_evaluation_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Estruturas Envolvidas</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :involved_structure do |i| %>
					<%= render 'evaluations/independent_variables/involved_structure_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="col-md-12 col-xs-12" style="padding: 0px; width: 104%; right: 2%;">
	<div class="x_panel">
		<div class="x_title">
			<h2>Tecnicas Utilizadas</h2>
			<ul class="nav navbar-right panel_toolbox" style="min-width: 25px;">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="col-md-12 col-xs-12">
				<%= f.simple_fields_for :used_technique do |i| %>
					<%= render 'evaluations/independent_variables/used_technique_fields', f: i %>
				<% end %>
			</div>
		</div>
	</div>
</div>
