<%= link_to "#{t('actions.new')} #{Beneficiary.model_name.human(count: 1)}", new_first_contact_file_path(current_user), method: :get, class: "btn btn-primary pull-right" %>

<div class="x_panel">
    <div class="x_title">
        <h2>Filtros</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <%= simple_form_for beneficiaries_path, method: :get, html: { class: 'form-horizontal form-label-left' } do |f| %>
        <div class="row">
            <div class="col-md-7 col-xs-12 col-md-offset-2">
                <%= f.input :id, label: t("activerecord.attributes.beneficiary.code"), input_html: {name: "beneficiary_id"}, required: false, wrapper: :horizontal_form %>
            </div>
            <div class="col-md-7 col-xs-12 col-md-offset-2">
                <%= f.input :name, label: t("activerecord.attributes.person.first_name"), input_html: {name: "beneficiary_first_name"}, required: false, wrapper: :horizontal_form %>
            </div>
            <div class="col-md-7 col-xs-12 col-md-offset-2">
                <%= f.input :name, label: t("activerecord.attributes.person.last_name"), input_html: {name: "beneficiary_last_name"}, required: false, wrapper: :horizontal_form %>
            </div>
            <div class="col-md-7 col-xs-12 col-md-offset-2">
                <%= f.input :name, label: t("activerecord.attributes.beneficiary.department"), input_html: {name: "department_name"}, required: false, wrapper: :horizontal_form %>
            </div>
            <div class="col-md-7 col-xs-12 col-md-offset-2">
                <div class="col-md-2" style="text-align: right;">
                    <label><%= t("activerecord.attributes.beneficiary.is_active") %></label>
                </div> 
                <div class="col-md-4 col-xs-12 col-md-offset-2" style="margin-left: 0px;">
                    <%= f.input :is_active, include_blank: false, collection: {t("true") => TRUE, t("false") => FALSE},
                        label: false, input_html: {name: "is_active"}, required: false %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <%= f.button :submit, "Buscar", class: "btn btn-success" %>
            </div>
        </div>
        <% end %>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <th class="text-center"><%= t "activerecord.attributes.beneficiary.code" %></th>
        <th class="text-center"><%= t "activerecord.attributes.person.first_name" %></th>
        <th class="text-center"><%= t "activerecord.attributes.beneficiary.department" %></th>
        <th class="text-center"><%= t "activerecord.attributes.beneficiary.is_active" %></th>
        <th class="text-center"><%= t "actions.actions" %></th>
    </thead>
    <tbody>
        <% @beneficiaries.each do |b| %>
        <tr>
            <td class="col-md-1 text-center" ><%= b.id %></td>
            <td class="col-md-4" style="vertical-align: middle"><%= link_to b.person.full_name, b.first_contact_file %></td>
            <td class="col-md-4" style="vertical-align: middle"><%= link_to b.department.name, b.department %></td>
            <td class="col-md-1 text-center" ><%= t("#{b.is_active}") %></td>
            <td class="col-md-2 text-center">
                <%= link_to first_contact_file_path(b.first_contact_file), title: t('actions.show') do %>
                <i class="fa fa-search fa-lg"></i>
                <% end %>
                <%= link_to edit_first_contact_file_path(b.first_contact_file), method: :get, title: t('actions.edit') do %>
                <i class="fa fa-pencil fa-lg"></i>
                <% end %>
                <%= link_to beneficiary_path( b.id ), :data => { :confirm => "Você tem certeza?" }, :method => :delete, title: t('actions.delete') do %>
                <i class="fa fa-trash fa-lg"></i>
                <% end %>
                <%= link_to new_clinic_treatment_path( beneficiary_id: b.id ), method: :get, title: ClinicTreatment.model_name.human(count: 1) do %>
                <i class="fa fa-user-md fa-lg"></i>
                <% end %>
                <%= link_to new_ppcl_path( beneficiary_id: b.id ), method: :get, title: Ppcl.model_name.human(count: 1) do %>
                <i class="fa fa-share-alt fa-lg"></i>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @beneficiaries, :renderer => 'GentelellaPaginationHelper::LinkRenderer' %>
