<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal form-label-left' }) do |f| %>
	<%= f.error_notification %>
	<%= f.input :person_id, as: :hidden %>
	<br />

	<%= f.simple_fields_for resource.person do |person_form| %>
		<%= person_form.input :first_name, required: true, :wrapper => :gentelella %>
	<% end %>

	<%= f.input :email, required: true, :wrapper => :gentelella %>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<p>Esperando confirmação do email: <%= resource.unconfirmed_email %></p>
	<% end %>

	<%= f.input :password, label: "Nova senha", required: false, autocomplete: "off", hint: "deixe em branco caso não queira alterar", :wrapper => :gentelella %>
	<%= f.input :password_confirmation, label: "Confirmação de nova senha", required: false, :wrapper => :gentelella %>
	<%= f.input :current_password, hint: "é necessária sua senha atual para confirmar suas alterações", required: true, :wrapper => :gentelella %>

	<div class="ln_solid"></div>
	<div class="form-group">
		<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
			<%= f.button :submit, class: "btn btn-primary" %>
		</div>
	</div>
<% end %>