<%= link_to "#{t('actions.new')} #{Partner.model_name.human(count: 1)}", new_partner_path(current_user), class: "btn btn-primary pull-right" %>

<div class="x_panel">
    <div class="x_title">
        <h2>Filtros</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <%= simple_form_for partners_path, method: :get, html: { class: 'form-horizontal form-label-left' } do |f| %>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-md-offset-1">
                <%= f.input :name,label: t("activerecord.attributes.person.first_name"), input_html: {name: "person_name"}, required: false, wrapper: :horizontal_form %>
            </div>
            <div class="col-md-3 col-xs-12 ">
                <%= f.input :is_active, include_blank: false, collection: {t("true") => true, t("false") => false}, wrapper: :horizontal_form,
            label: t("activerecord.attributes.partner.is_active"), input_html: {name: "is_active"}, required: false %>
            </div>
            <div class="col-xs-12 text-center">
                <%= f.button :submit, "Buscar", class: "btn btn-success" %>
            </div>
        </div>
        <%end%>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <th class="text-center"><%= t "activerecord.attributes.person.first_name" %></th>
        <th class="col-md-1 col-xs-1 text-center"><%= t "activerecord.attributes.department.is_active" %></th>
        <th class="col-md-3 col-xs-3 text-center"><%= t "actions.actions" %></th>
    </thead>
    <tbody>
        <% @partners.each do |p| %>
        <tr>
            <td style="vertical-align: middle"><%= link_to p.person.first_name, p %></td>
            <td class="text-center" style="vertical-align: middle"><%= t("#{p.is_active}") %></td>
            <td class="col-md-4 col-xs-4 text-center">
                <%= link_to partner_path(p) do %>
                <i class="fa fa-search fa-lg"></i>
                <% end %>
                <%= link_to edit_partner_path(p) do %>
                <i class="fa fa-pencil fa-lg"></i>
                <% end %>
                <%= link_to partner_path( p ), :data => { :confirm => "Você tem certeza?" }, :method => :delete do %>
                <i class="fa fa-trash fa-lg"></i>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @partners, :renderer => 'GentelellaPaginationHelper::LinkRenderer' %>
