<form class="form-horizontal form-label-left">
    <div class="x_panel">
        <div class="x_title">
            <h2>Instituição / Pessoa / Grupo</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br/>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2"><%= t 'activerecord.attributes.partner.cnpj' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-8"><%= @partner.cnpj %></span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-6"><%= t 'activerecord.attributes.partner.fantasy_name' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-6"><%= @partner.fantasy_name %></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-3"><%= t 'activerecord.attributes.partner.partner_type' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-8"><%= t("enum.partner.partner_type.#{@partner.partner_type}") %></span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2"><%= t 'activerecord.attributes.person.first_name' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-8"><%= @partner.person.first_name %></span>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-3"><%= t 'activerecord.attributes.person.cpf' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-8"><%= @partner.person.cpf %></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2"><%= t 'activerecord.attributes.person.email' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-8"><%= @partner.person.email %></span>
                    </div>
                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-4"><%= t 'activerecord.attributes.phone.number' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-6"><%= @partner.person.phones[0]&.number %></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-1 col-xs-12">
                    <%= render 'addresses/show', address: @partner.person.address %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <label style="text-align: left;" class="control-label col-sm-8"><%= t 'activerecord.attributes.partner.work_areas' %>:</label>
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <% @partner.work_areas.values.each do | i | %>
                        <p class="form-control-static"><%= t("enumerize.partner.work_areas.#{i.downcase.tr(' ', '_')}") %></p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2><%= t('activerecord.attributes.partner.contact_person_1') %></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br/>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2"><%= t 'activerecord.attributes.person.first_name' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-8"><%= @partner.contact_person_1&.first_name %></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2"><%= t 'activerecord.attributes.person.email' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-8"><%= @partner.contact_person_1&.email %></span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-6"><%= t 'activerecord.attributes.phone.number' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-6"><%= @partner.contact_person_1.phones[0]&.number %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2><%= t('activerecord.attributes.partner.contact_person_2') %></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br/>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2"><%= t 'activerecord.attributes.person.first_name' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-8"><%= @partner.contact_person_2.first_name if !@partner.contact_person_2.nil? %></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2"><%= t 'activerecord.attributes.person.email' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-8"><%= @partner.contact_person_2.email if !@partner.contact_person_2.nil? %></span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-6"><%= t 'activerecord.attributes.phone.number' %>:</label>
                        <span style="text-align: left" class="control-label col-sm-6"><%= @partner.contact_person_2.phones[0]&.number if !@partner.contact_person_2.nil? && !@partner.contact_person_2.phones.nil? %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <%= link_to t( "actions.back" ), partners_path(current_user), class: "btn btn-primary" %>
            <%= link_to t( "actions.edit" ), edit_partner_path(@partner), class: "btn btn-success" %>
        </div>
    </div>
</form>
