<%= simple_form_for(@first_contact_file ) do |f| %>
	<%= f.error_notification %>
	<br />

<div <div class="row">
	<div class="col-md-6 col-xs-12">
	  <%= f.select :hour,
	    FirstContactFile.hours.keys.map { |key| [ t("models.first_contact_file.hours.#{key}"), key]} %>

	  <%= f.input :institution %>

	  <%= f.select :operational_context_first_contact,
	    FirstContactFile.operational_context_first_contacts.keys.map { |key| [ t("models.first_contact_file.operational_context_first_contacts.#{key}"), key]} %>

	  <%= f.select :how_established_first_contact,
	    FirstContactFile.how_established_first_contacts.keys.map { |key| [ t("models.first_contact_file.hours.#{key}"), key]} %>

	<!-- contact_source:person -->

	  <%= f.select :contact_source_type,
	    FirstContactFile.contact_source_types.keys.map { |key| [ t("models.first_contact_file.hours.#{key}"), key]} %>

	  <%= f.select :how_person_knew_about_the_organization,
	    FirstContactFile.how_person_knew_about_the_organizations.keys.map { |key| [ t("models.first_contact_file.hours.#{key}"), key]} %>

	  <%= f.select :beneficiary_and_contact_source_relationship,
	    FirstContactFile.beneficiary_and_contact_source_relationships.keys.map { |key| [ t("models.first_contact_file.hours.#{key}"), key]} %>

	  <!-- beneficiary:beneficiary  -->

	  <%= f.input :is_new_partner %>

	  <%= f.input :number_of_previous_treatments %>
	</div>
	<div class="col-md-6 col-xs-12">
	  <%= f.select :place_of_previous_treatments,
	    FirstContactFile.place_of_previous_treatments.keys.map { |key| [ t("models.first_contact_file.hours.#{key}"), key]} %>

	  <%= f.select :marital_status,
	    FirstContactFile.marital_statuses.keys.map { |key| [ t("models.first_contact_file.hours.#{key}"), key]} %>

	  <%= f.input :number_sons %>

	  <%= f.input :number_daughters %>

	  <%= f.select :ethnic_group,
	    FirstContactFile.ethnic_groups.keys.map { |key| [ t("models.first_contact_file.hours.#{key}"), key]} %>

	  <%= f.input :religion %>

	  <!-- support:person -->

	  <%= f.select :family_structure,
	    FirstContactFile.family_structures.keys.map { |key, value| [ t("models.first_contact_file.hours.#{key}"), value]} %>
	</div>

	<div class="col-md-6 col-xs-12">
		<div style="width: 100%;">
			<%= f.input :first_contact_conditions,
			collection: FirstContactFile.first_contact_conditions,
			class:'first_contact_file', as: :check_boxes_gentellela %>
		</div>
		<div style="width: 100%;">
			<%= f.input :answer,
			collection: FirstContactFile.answers,
			class:'first_contact_file', as: :check_boxes_gentellela %>
		</div>
	</div>

	<div class="col-md-6 col-xs-12">
		<div style="width: 100%;">
			<%= f.input :scolarity,
			collection: FirstContactFile.scolarities,
			class:'first_contact_file', as: :check_boxes_gentellela %>
		</div>
		<div style="width: 100%;">
			<%= f.input :job,
			collection: FirstContactFile.jobs,
			class:'first_contact_file', as: :check_boxes_gentellela %>
		</div>
		<div style="width: 100%;">
			<%= f.input :petitions,
			collection: FirstContactFile.petitions,
			class:'first_contact_file', as: :check_boxes_gentellela %>
		</div>
	</div>

	<div class="col-md-6 col-xs-12">
		<div style="width: 100%;">
			<%= f.input :results,
			collection: FirstContactFile.results,
			class:'first_contact_file', as: :check_boxes_gentellela %>
		</div>
	</div>
</div>
<% end %>
