<%= simple_form_for(@first_contact_file ) do |f| %>
	<%= f.error_notification %>
	<br />
<div class="row">
	<div class="col-md-6 col-xs-12">
		<%= f.input :date, class: 'first_contact_file', as: :datepicker %>
	  <%= f.input :hour, include_blank: false,
	    collection: FirstContactFile.hours.keys.map { |key| [ t("enum.first_contact_file.hour.#{key}"), key]} %>
	  <%= f.input :institution %>
	  <%= f.input :operational_context_first_contact, include_blank: false,
	    collection: FirstContactFile.operational_context_first_contacts.keys.map { |key| [ t("enum.first_contact_file.operational_context_first_contacts.#{key}"), key]} %>
	  <%= f.input :how_established_first_contact,include_blank: false,
	    collection: FirstContactFile.how_established_first_contacts.keys.map { |key| [ t("enum.first_contact_file.how_established_first_contacts.#{key}"), key]} %>
	  <%= f.input :contact_source_type,include_blank: false,
	    collection: FirstContactFile.contact_source_types.keys.map { |key| [ t("enum.first_contact_file.contact_source_types.#{key}"), key]} %>
	  <%= f.input :how_person_knew_about_the_organization,include_blank: false,
	    collection: FirstContactFile.how_person_knew_about_the_organizations.keys.map { |key| [ t("enum.first_contact_file.how_person_knew_about_the_organizations.#{key}"), key]} %>
	  <%= f.input :beneficiary_and_contact_source_relationship,include_blank: false,
	    collection: FirstContactFile.beneficiary_and_contact_source_relationships.keys.map { |key| [ t("enum.first_contact_file.beneficiary_and_contact_source_relationships.#{key}"), key]} %>
		<%= f.input :is_new_partner, as: :radio_buttons %>
	</div>

	<div class="col-md-6 col-xs-12">
		<%= f.input :number_of_previous_treatments %>
	  <%= f.input :place_of_previous_treatments, include_blank: false,
	    collection: FirstContactFile.place_of_previous_treatments.keys.map { |key| [ t("enum.first_contact_file.place_of_previous_treatments.#{key}"), key]} %>
	  <%= f.input :marital_status,include_blank: false,
	    collection: FirstContactFile.marital_statuses.keys.map { |key| [ t("enum.first_contact_file.marital_status.#{key}"), key]} %>
	  <%= f.input :number_sons %>
	  <%= f.input :number_daughters %>
	  <%= f.input :ethnic_group, include_blank: false,
	    collection: FirstContactFile.ethnic_groups.keys.map { |key| [ t("enum.first_contact_file.ethnic_groups.#{key}"), key]} %>
	  <%= f.input :religion %>
	  <%= f.input :family_structure, include_blank: false,
	    collection: FirstContactFile.family_structures.keys.map { |key, value| [ t("enum.first_contact_file.family_structure.#{key}"), key]} %>
		<%= f.input :job, include_blank: false,
			collection: FirstContactFile.jobs.keys.map { |key, value| [ t("enum.first_contact_file.job.#{key}"), key]} %>
	</div>
</div>

<div class="row">
		<div class="col-md-12 col-xs-12">
			<label><%= FirstContactFile.human_attribute_name('beneficiary') %></label>
			<%= f.simple_fields_for :beneficiary do |b| %>
				<%= render 'beneficiaries/form', f: b %>
			<% end %>
		</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<label><%= FirstContactFile.human_attribute_name('contact_source') %></label>
		<%= f.simple_fields_for :contact_source do |cs| %>
			<%= cs.input :first_name %>
			<%= cs.input :age %>
			<%= cs.input :gender, include_blank: false,
				collection: Person.genders.keys.map { |key| [ t("enum.person.gender.#{key}"), key]} %>
				<%= cs.simple_fields_for :phones do |ph| %>
					<%= ph.input :number, input_html: { class: 'phone-number'} %>
				<% end %>
		<% end %>
	</div>
	<div class="col-md-6 col-xs-12">
		<label><%= FirstContactFile.human_attribute_name('support') %></label>
		<%= f.simple_fields_for :support do |s| %>
		    <%= s.input :first_name %>
				<%= s.simple_fields_for :phones do |ph| %>
					<%= ph.input :number, input_html: { class: 'phone-number'} %>
				<% end %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-xs-12">
			<%= f.input :education_levels,
				collection: FirstContactFile.education_levels.options, as: :check_boxes, include_blank: false %>
			<%= f.input :answer,
				collection: FirstContactFile.answer.options, as: :check_boxes, include_blank: false %>
	</div>

	<div class="col-md-4 col-xs-12">
			<%= f.input :petitions,
				collection: FirstContactFile.petitions.options, as: :check_boxes, include_blank: false %>
			<%= f.input :results,
				collection: FirstContactFile.results.options, as: :check_boxes, include_blank: false %>
	</div>

	<div class="col-md-4 col-xs-12">
			<%= f.input :first_contact_conditions,
				collection: FirstContactFile.first_contact_conditions.options, as: :check_boxes, include_blank: false %>
	</div>

	<div class="row">
		<div class="col-md-12 col-xs-12">
			<p>
				<%= f.label :user %>
				<%= current_user.person.first_name %>
			</p>
			<%= f.input :comments, as: :text, input_html: { :style=> "resize: vertical;", :rows => 4 } %>
		</div>
	</div>

</div>

<div class="ln_solid"></div>
<div class="form-group">
	<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 text-center">
		<%= f.button :submit, class: "btn btn-primary" %>
	</div>
</div>
<% end %>
