<div class="main_container">
	<div class="col-md-3 left_col">
		<div class="left_col scroll-view">
        	<div class="navbar nav_title" style="border: 0;">
				<%= link_to url_for( action: 'index', controller: '/home' ), { class: "site_title" } do %>
					<span style="font-size: 18px;"><%= ENV['COMPANY_NAME'] %></span>
				<% end %>
        	</div>
      	<div class="clearfix"></div>
      	<!-- menu profile quick info -->
      	<div class="profile">
      		<div class="profile_pic">
          		<%= image_tag ENV['COMPANY_LOGO'], :class => "img-circle profile_img"  %>
        	</div>
        	<div class="profile_info">
          		<span>Bem Vindo,</span>
          		<h2>
            		<% if not current_user.nil? %>
            			<% if current_user.person.nil? or current_user.person.first_name.nil? %>
	              			<%= current_user.email %>
	            		<% else %>
	              			<%= current_user.person.first_name %>
	            		<% end %>
            		<% end %>
          		</h2>
      		</div>
      		<!-- /menu profile quick info -->
      		<br />
      		<!-- sidebar menu -->
      		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        		<div class="menu_section">
        			<% if not current_user.nil? %>
                <h3><%= t( "enum.user.roles.#{current_user.role}" ) %></h3>
              <% end %>
          			<ul class="nav side-menu">
            			<li>
            				<%= link_to url_for( action: 'index', controller: '/home' ) do %>
								<i class="fa fa-home"></i>Página Inicial
							<% end %>
            			</li>
            			<li>
                    <a><i class="fa fa-edit"></i>Cadastros<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu" style="display: none">
                        <% if current_user.admin? || current_user.coordinator? %>
                          <li><a href="/partners"><%=Partner.model_name.human(count: 2)%></a></li>
                        <% end %>
                        <% if current_user.admin? || current_user.coordinator? %>
                          <li><a href="/departments"><%=Department.model_name.human(count: 2)%></a></li>
                        <% end %>
                        <li><a href="/beneficiaries"><%=Beneficiary.model_name.human(count: 2)%></a></li>
                        <li><a href="/activities"><%=Activity.model_name.human(count: 2)%></a></li>
                        <li><a href="/evaluations"><%=Evaluation.model_name.human(count: 2)%></a></li>
                        <li><a href="/field_diaries"><%=FieldDiary.model_name.human(count: 2)%></a></li>
                      </ul>
                  </li>
                  <li>
                    <a><i class="fa fa-edit"></i>Relatórios<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu" style="display: none">
                        <li><a href="/beneficiaries/report"><%=Beneficiary.model_name.human(count: 2)%></a></li>
                      </ul>
                  </li>
            			<% if not current_user.nil? %>
	            			<% if current_user.admin? || current_user.coordinator? %>
		            			<li>
		            				<a><i class="fa fa-lock"></i>Segurança<span class="fa fa-chevron-down"></span></a>
		              				<ul class="nav child_menu" style="display: none">
		                				<li>
		                					<%= link_to users_path do %>
	                                <i class="fa fa-users"></i>Usuários
	                            <% end %>
		                				</li>
		              				</ul>
		            			</li>
	            			<% end %>
	            		<% end %>
          			</ul>
        		</div>
      		</div>
    	</div>
  	</div>
</div>
