<td>
	<%= user.person.full_name %>
</td>
<td>
	<%= link_to user.email, user %>
</td>
<td>
	<%= form_for(user) do |f| %>
		<%= f.select( :role, User.roles.keys.map { | role | [ t( "enum.user.roles.#{role}" ), role ] } ) %>
		<%= f.submit 'Alterar permissão', :class => 'btn btn-default btn-sm' %>
	<% end %>
</td>
<td>
	<% if current_user.admin? || current_user.coordinator? %>
		<%= link_to( "Deletar", user_path( user ), :data => { :confirm => "Você tem certeza?" }, :method => :delete, :class => 'btn btn-danger' ) unless user == current_user %>
	<% end %>
</td>
