<td class="col-md-3 col-xs-4" style="vertical-align: middle">
	<%= user.person.full_name %>
</td>
<td class="col-md-3 col-xs-4" style="vertical-align: middle">
	<%= link_to user.email, user %>
</td>
<td class="col-md-4 col-xs-4 text-center" style="vertical-align: middle; padding: 4px">
	<% if user.is_active %>
		<%= simple_form_for(user) do |f| %>
			<div class="col-md-8 col-xs-8" style="height: 35px">
			<%= f.input :role, include_blank: false, label: false, collection: User.roles.keys.map { |key| [ t("enum.user.roles.#{key}"), key]} %>	
			</div>
			<%= f.button :submit, "Alterar", class: "btn btn-warning", style: "margin: 0px" %>
		<% end %>
	<% else %>
			<%= t("enum.user.roles.#{user.role}") %>
	<% end %>
</td>
<td class="col-md-1 col-xs-4 text-center" style="vertical-align: middle">
	<% if user.is_active %>
		<%= t("#{user.is_active}")  %>
	<% else %>
		<%= simple_form_for(user) do |f| %>
			<%= f.input :is_active, :as => :hidden, :input_html => { checked: true, value: true } %>	
			<%= f.button :submit, "Ativar", class: "btn btn-success", style: "margin: 0px" %>
		<% end %>
	<% end %>
</td>
<td class="col-md-1 col-xs-4 text-center" style="vertical-align: middle">
	<% if current_user.admin? || current_user.coordinator? %>
		<%= link_to user_path( user ) do %>
			<i class="fa fa-search fa-lg"></i>
		<% end %>
		<% if user != current_user %>
			<%= link_to user_path( user ), :data => { :confirm => "Você tem certeza?" }, :method => :delete do %>
				<i class="fa fa-trash fa-lg"></i>
			<% end %>
		<% end %>
	<% end %>
</td>
