<%= link_to "Adicionar Usuário", new_registration_path(current_user), class: "btn btn-primary pull-right" %>

<div class="x_panel">
    <div class="x_title">
        <h2>Filtros</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <%= simple_form_for users_path, method: :get, html: { class: 'form-horizontal form-label-left' } do |f| %>
        <div class="row">
            <div class="col-md-7 col-xs-12 col-md-offset-2">
                <%= f.input :name, label: t("activerecord.attributes.person.first_name"), input_html: {name: "name"}, required: false, wrapper: :horizontal_form %>
            </div>
            <div class="col-md-7 col-xs-12 col-md-offset-2">
                <%= f.input :email, label: t("activerecord.attributes.person.email"), input_html: {name: "email"}, required: false, wrapper: :horizontal_form %>
            </div>
            <div class="col-md-7 col-xs-12 col-md-offset-2">
                <div class="col-md-2" style="text-align: right">
                    <label><%= t("activerecord.attributes.department.is_active") %></label>
                </div>
                <div class="col-md-4 col-xs-12" style="padding-left: 0px">
                  <%= f.input :is_active, collection: {t("true") => TRUE, t("false") => FALSE}, 
                    wrapper: :horizontal_form, include_blank: false,
                    label: false, input_html: {class: "col-sm-5",name: "is_active"}, required: false %>
                </div>    
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <%= f.button :submit, "Buscar", class: "btn btn-success" %>
            </div>
        </div>
        <% end %>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <th class="text-center" ><%= t("activerecord.attributes.person.first_name") %></th>
        <th class="text-center" ><%= t("activerecord.attributes.person.email") %></th>
        <th class="text-center" ><%= t("activerecord.attributes.user.role") %></th>
        <th class="text-center" ><%= t("activerecord.attributes.department.is_active") %></th>
        <th class="text-center" ><%= t "actions.actions" %></th>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <%= render user %>
            </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @users, :renderer => 'GentelellaPaginationHelper::LinkRenderer' %>
