<div>
	<div id="wrapper">
		<div id="login" class="animate form">
			<section>
				<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
					<h2>Altere sua senha</h2>
					<%= render 'layouts/messages' %>
  					<%= devise_error_messages! %>
					

					<%= f.input :reset_password_token, as: :hidden %>
	          		<%= f.full_error :reset_password_token %>

	          		<div class="form-inputs">
	            		<%= f.input :password, label: "Nova senha", required: true, autofocus: true, hint: ("No mínimo #{@minimum_password_length} caracteres" if @minimum_password_length) %>
	            		<%= f.input :password_confirmation, label: "Confirmação da nova senha", required: true %>
	          		</div>

	          		<div class="form-actions">
	            		<%= f.button :submit, "Alterar senha" %>
	          		</div>

	          		<div class="clearfix"></div>
          			<div class="separator">
          				<%= render "devise/shared/links" %>	
          			</div>
        		<% end %>
        	</section>
		</div>
	</div>
</div>