<table class="table">
  <thead>
    <tr>
      <th class="text-center"><%= t "activerecord.attributes.state.name" %></th>
      <th class="text-center"><%= t "activerecord.attributes.state.acronym" %></th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |s| %>
      <tr>
        <td><%= s.name %></td>
        <td><%= s.acronym %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @states, :renderer => 'GentelellaPaginationHelper::LinkRenderer' %>
