<%= link_to "#{t('actions.new')} #{Department.model_name.human(count: 1)}",
  new_department_path(current_user), class: "btn btn-primary pull-right" %>

<div class="x_panel">
  <div class="x_title">
    <h2>Filtros</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <%= simple_form_for departments_path, method: :get, html: { class: 'form-horizontal form-label-left' } do |f| %>
      <div class="row">
        <div class="col-md-7 col-xs-12 col-md-offset-2">
          <%= f.input :name,label: t("activerecord.attributes.department.name"), input_html: {name: "department_name"}, required: false, wrapper: :horizontal_form %>
        </div>
        <div class="col-xs-12 text-center">
          <%= f.button :submit, "Buscar", class: "btn btn-success" %>
        </div>
      </div>
    <%end%>
  </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <th class="text-center"><%= t "activerecord.attributes.department.name" %></th>
        <th class="col-md-3 col-xs-3 text-center"><%= t "actions.actions" %></th>
    </thead>
    <tbody>
        <% @departments.each do |d| %>
            <tr>
              <td style="vertical-align: middle"><%= link_to d.name, d %></td>
              <td class="col-md-4 col-xs-4 text-center">
                  <%= link_to "#{t('actions.show')}", department_path(d), class: "btn btn-primary" %>
                  <%= link_to "#{t('actions.edit')}", edit_department_path(d), class: "btn btn-primary" %>
                  <%= link_to( "#{t('actions.delete')}", department_path( d ), :data => { :confirm => "Você tem certeza?" }, :method => :delete, :class => 'btn btn-danger' )%>
              </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @departments, :renderer => 'GentelellaPaginationHelper::LinkRenderer' %>
