<div class="x_panel">
  <div class="x_title">
      <h2>Novo Diário Clínico</h2>
      <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <%= simple_form_for( @clinic_treatment ) do |f| %>
    	<%= f.error_notification %>
    	<br/>
      <div class="col-md-4 col-xs-12">
        <div class="col-md-12 col-xs-12" style="padding-left: 0px;">
          <%= f.label :user %>
        </div>
        <div class="col-md-12 col-xs-12" style="padding-left: 0px;">
          <%= current_user.person.full_name %>
        </div>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="col-md-12 col-xs-12" style="padding-left: 0px;">
          <%= f.label :beneficiary %>
        </div>
        <div class="col-md-12 col-xs-12" style="padding-left: 0px;">
          <%= @clinic_treatment.beneficiary.person.full_name %>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <%= f.input :date, as: :datepicker %>
      </div>
      <div class="col-md-4 col-xs-12">
        <%= f.input :axis, include_hidden: false, collection: Diary.axis.options, as: :check_boxes %>
      </div>
      <div class="col-md-8 col-xs-12">
        <%= f.input :description, as: :text, input_html: { :style => "resize: vertical;", :rows => 4 } %>
      </div>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :beneficiary_id, value: @clinic_treatment.beneficiary.id %>

    	<div class="form-group">
    		<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 text-center">
    			<%= link_to t( "actions.cancel" ), beneficiaries_path(current_user), class: "btn btn-primary" %>
    			<%= f.button :submit, class: "btn btn-success" %>
    		</div>
    	</div>
    <% end %>
  </div>
</div>

<div class="x_panel">
  <div class="x_title">
      <h2>Lista de Diários Clínico</h2>
      <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <th class="col-md-1 col-xs-1 text-center"><%= t "activerecord.attributes.clinic_treatment.date" %></th>
        <th class="col-md-2 col-xs-4 text-center"><%= t "activerecord.attributes.clinic_treatment.axis" %></th>
        <th class="col-md-7 col-xs-6 text-center"><%= t "activerecord.attributes.clinic_treatment.description" %></th>
        <th class="col-md-2 col-xs-1 text-center"><%= t "activerecord.attributes.clinic_treatment.user" %></th>
      </thead>
      <tbody>
        <% @clinic_treatments.each do |ct| %>
        <tr>
          <td style="vertical-align: middle"><%= date_format ct.date %></td>
          <td style="vertical-align: middle">
            <% ct.axis.values.each do | a | %>
              <ul style="padding: 0px 0px 5px 7px; margin: 0px;">
                <li><%= t("enumerize.diary.axis.#{a}") %></li>
              </ul>
            <% end %>
          </td>
          <td style="vertical-align: middle"><%= ct.description %></td>
          <td style="vertical-align: middle"><%= ct.user.person.full_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate @clinic_treatments, :renderer => 'GentelellaPaginationHelper::LinkRenderer' %>
