<div class="row">
    <div class="col-md-8">
        <%= f.input :street %>
    </div>
    <div class="col-md-4">
        <%= f.input :number %>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <%= f.input :neighborhood %>
    </div>
    <div class="col-md-5">
        <%= f.input :cep %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <%= f.input :city, :as => :autocomplete, :source_query => autocomplete_city_name_cities_url, :items => 5, :minLength=>3 %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <%= f.input :complement, as: :text, input_html: { :style=> "resize: vertical;", :rows => 1 } %>
    </div>
</div>