<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label style="text-align: left;" class="control-label col-xs-12"><%= t 'activerecord.attributes.address.street' %>:</label>
            <div class="col-xs-12">
                <p class="form-control-static"><%= address&.street %></p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label style="text-align: left;" class="control-label col-xs-12"><%= t 'activerecord.attributes.address.number' %>:</label>
            <div class="col-xs-12">
                <p class="form-control-static"><%= address&.number %></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            <label style="text-align: left;" class="control-label col-xs-12"><%= t 'activerecord.attributes.address.neighborhood' %>:</label>
            <div class="col-xs-12">
                <p class="form-control-static"><%= address&.neighborhood %></p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label style="text-align: left;" class="control-label col-xs-12"><%= t 'activerecord.attributes.address.cep' %>:</label>
            <div class="col-xs-12">
                <p class="form-control-static"><%= address&.cep %></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label style="text-align: left;" class="control-label col-xs-12"><%= t 'activerecord.attributes.address.city' %>:</label>
            <div class="col-xs-12">
                <p class="form-control-static"><%= address&.city&.name %></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label style="text-align: left;" class="control-label col-xs-12"><%= t 'activerecord.attributes.address.complement' %>:</label>
            <div class="col-xs-12">
                <p class="form-control-static"><%= address&.complement %></p>
            </div>
        </div>
    </div>
</div>
