<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?( :title ) ? yield( :title ) : "Oamorearesposta" %></title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Oamorearesposta" %>">
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body class="nav-md">
			<div class="container body">

				<%= render "partials/sidenav" %>
				<%= render "partials/topnav" %>

				<!-- page content -->
				<div class="right_col" role="main">
				    <div>
				        <div class="page-title">
				            <div class="title_left">
				                <h3><%= controller.controller_name.titleize %></h3>
				            </div>
				            <div class="title_right">
				            </div>
				        </div>
				        <div class="clearfix"></div>
				        <div class="row">
				            <div class="col-md-12 col-sm-12 col-xs-12">
				                <div class="x_panel" style="height:600px;">

														<%= yield %>

												</div>
										</div>
								</div>
						</div>
				</div>

			</div>
  		<%= render "partials/footer" %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>
