<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?( :title ) ? yield( :title ) : "Oamorearesposta" %></title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Oamorearesposta" %>">
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<body class="nav-md">
			<div class="container body">

				<%= render "partials/sidenav" %>
				<%= render "partials/topnav" %>

				<!-- page content -->
				<div class="right_col" role="main">
					<div class="row">
						<div class="page-title">
							<%= render 'layouts/messages' %>
							<div class="title_left">
								<h3><%= t "controllers.#{controller.controller_name}.name" %></h3>
							</div>
							<div class="title_right">
								<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
									<div class="input-group"></div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<h2><%= t "controllers.#{controller.controller_name}.actions.#{controller.action_name}.name" %></h2>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<br />
										<%= yield %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%= render "partials/footer" %>
			</div>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>