<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?( :title ) ? yield( :title ) : ENV['COMPANY_NAME'] %></title>
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : ENV['COMPANY_NAME'] %>">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body style="background:#F7F7F7;">
		<div class="container body">
			<%= yield %>
			
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	</body>
</html>